* {
    font-family: Consolas, monaco, monospace;
}

:root {
    --primary-color:#121212;
    --secondary-color:#FEFEFE;
    --hover-color:rgba(0, 0, 0, 0.7);
}

#toggle-moon {color: transparent}

.light-theme {
    --secondary-color:#121212;
    --primary-color:#FEFEFE;
    --hover-color:rgba(0, 0, 0, 0.1);
}

body {background-color: var(--primary-color)}

label, button, p, i {
    color: var(--secondary-color);
    font-size: 1.5em;
}

.occupied:hover {
    cursor: default;
}

#restart {
    background-color: transparent;
    border: none;
}

#restart:hover {
    cursor: pointer;
}

.container {
    justify-content: center;
    align-items: center;
    display: flex;
}

.panel {
    margin: 25px 0 25px 0;
    justify-content: space-between;
    align-items: center;
    display: flex;
}

td {
    border: 1px solid var(--secondary-color);
    padding: 8px;
    width: 100px;
    height: 100px;
    cursor: pointer;
    font-size: 5em;
    text-align: center;
    color: var(--secondary-color);
}
  
td:hover {background-color: var(--hover-color)}

@media (max-width: 377px) {
    label, button, p, i {font-size: 1.2em}
    td {
        width: 80px;
        height: 80px;
        font-size: 4em;
    }
}

@media (max-width: 329px) {
    label, button, p, i {font-size: 1em}
    td {
        width: 60px;
        height: 60px;
        font-size: 3em;
    }
}

@media (max-width: 255px) {
    label, button, p, i {font-size: 0.9em}
    td {
        width: 40px;
        height: 40px;
        font-size: 2em;
    }
}